@include font-face($font-family, '../fonts/Montserrat-Light', font-weight(light));
@include font-face($font-family, '../fonts/Montserrat-Regular', font-weight(regular));
@include font-face($font-family, '../fonts/Montserrat-Medium', font-weight(medium));
@include font-face($font-family, '../fonts/Montserrat-Semibold', font-weight(semibold));
@include font-face($font-family, '../fonts/Montserrat-Bold', font-weight(bold));

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-bottom:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-message:before {
  content: "\e904";
}
.icon-alert:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-zoom-more:before {
  content: "\e907";
}
.icon-zoom-less:before {
  content: "\e908";
}
.icon-menor:before {
  content: "\e909";
}
.icon-mayor:before {
  content: "\e90a";
}
.icon-ocultar:before {
  content: "\e90b";
}
.icon-mostrar:before {
  content: "\e90c";
}
.icon-happy-face:before {
  content: "\e90d";
}
.icon-checked2:before {
  content: "\e90e";
}
.icon-circle:before {
  content: "\e90f";
}
.icon-checked:before {
  content: "\e910";
}