//colors

$color-main: #2db9c0;
$color-secondary: #0098b8 ;
$color-black: #4a4a4a;
$color-alert: #b00020;

$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1420px
);

//misc
$gutter: 40px;
$grid-gutter-width: $gutter;
$link-color: $color-secondary;         
// $link-hover-color: $turtle-green;

// Typography
$font-family: 'Montserrat';
$font-base: $font-family, sans-serif;


/*media queries*/
/*@include media-breakpoint-up(sm){
    
}
@include media-breakpoint-up(md){
    
}
@include media-breakpoint-up(lg){
    
}
@include media-breakpoint-up(xl){
    
}*/
