.header{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21);
    padding: 12px 0 11px 0;
    &__content{
            display: flex;
        &__img{

        }
        &-avatar{
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;
        }
        &-text{
            font-size: 24px;
            color: $color-black;
            @include font-weight(medium);
            letter-spacing: 0;
            opacity: 0.8;
            margin-right: 15px;
        }
        &-logo{
            max-width: 212px;
            max-height: 77px;
            width: 100%;
        }
    }
    &__logo{
        width: 100%;
        height: 100%;
    }   
    &__avatar{

    }
}