.alerta{
    display: flex;
    color: $color-alert;
    margin-top: 19px;
    margin-bottom: 10px;
    .icon-alert{
        margin-right: 10px;
        font-size: 21px;
    }
    &__content-text{
        text-align: left;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.7px;
    }
}