.boletas{
    position: relative;
    &__content{
        &-rombo{
            display: flex;
            justify-content: space-between;
            padding-bottom: 75px;
            margin-bottom: 35px;
            .btn--circle{
                width: 50px;
                height: 50px;
                min-width: 50px;
                min-height: 50px;
                color: #0098b8;
                font-size: 23px;
                z-index: 4;
            }
        }
        &-form{
            position: absolute;
            right: 0;
            left: 0;
            top: -72px;
            text-align: center;
            .text{
                &-boletas,
                &-years{
                    position: absolute;
                    color: white;
                    z-index: 2;
                    right: 0;
                    left: 0
                }
                &-boletas{
                    text-transform: uppercase;
                    font-size: 24px;
                    @include font-weight(regular);
                }
                &-years{
                    font-size: 70px;
                    @include font-weight(bold);
                    top: 20px;
                }
            }
        }
        &-recuerda{
            font-size: 20px;
            opacity: 0.8;
            color: $color-black;
            letter-spacing: 0;
            max-width: 325px;
            line-height: normal;
            text-align: center;
            margin: 0 auto;
            margin-top: 54px;
        }
    }
    &-card{
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.21);
        background: white;
        padding: 44px 16px 15px 16px;
        min-width: 370px;
        height: max-content;
    }
    .btn--bordered{
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 7px 0;
        &:last-child{
            margin-bottom: 0;
        }
        .icon-download,
        .icon-message{
            font-size: 24px;
            margin-right: 10px;
        }
    }
}
