.btn{
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline-color: transparent;
    &:focus,
    &:active{   
        outline-color: transparent;
    }
    &--default{
        border-radius: 30px;
        font-size: 24px;
        background: $color-secondary;
        color: white;
        @include font-weight(bold);
        padding: 15px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    }
    &--bordered{
        border-radius: 4px;
        font-size: 13.7px;
        @include font-weight(bold);
        border: 1px solid $color-secondary;
        background: transparent;
        color: $color-secondary;
        padding: 8px 0;
        letter-spacing: 1.3px;
    }
    &--circle{
        border-radius: 50%;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        &:disabled{
            cursor: auto;
            opacity: 0.2;
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
        }
    }
}
.link{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}