.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1600px;
    @media screen and (min-width:768){
        padding: 0 60px;
    }
    @media screen and (min-width:1280px){
        padding: 0 70px;
    }
    @media screen and (min-width:1420px){
        padding: 0 80px;
    }
}