.input{
    &__text{
        width: 400px;
        height: 65px;
        border: solid 1px #9b9b9b;
        border-radius: 30px;
        outline-color: transparent;
        padding: 0 31px;
        color: #4a4a4a;
        font-size: 28px;
        @include font-weight(semibold);
        &::placeholder{
            font-size: 22px;
            color: $color-black;
            opacity: 0.8;
            @include font-weight(medium);
            text-align: left;
        }
    }
}