.rombo {
    $width: 212px;
    $height: $width * 0.57736720554273;
    $border-radius: $width / 18.75;
    $background: #2db9c0;

    display: inline-block;
    position: relative;
    width: $width;
    height: $height;
    margin: $height/2 auto;
    border-radius: #{$border-radius / 2} / #{$border-radius};
    background: $background;
    text-align: center;
    text-decoration: none;
    &:before,
    &:after {
    content: '';
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    }
    &:before {
        transform : rotate(60deg);
    }
    &:after {
        transform : rotate(-60deg);
    }

    > span {
        position: relative;
        z-index: 1;
        color: #fff;
        line-height: $height;
    }
}

.circle{
    width: 24px;
    height: 24px;
    border: solid 2px rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    background: transparent;
}