.login{
    height: 100vh;
    &__content{
        max-width: 519px;
        background: #ffffff;
        padding: 60px 60px 0 60px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        text-align: center;
        &-input{
            margin-top: 134px;
            margin-bottom: 20px;
            position: relative;
        }
        &-btn{
            margin-bottom: 50px;
        }
        &-icon{
            position: absolute;
            top: 2px;
            right: 17px;
            bottom: 0;
            font-size: 28px;
            height: 65px;
            display: flex;
            align-items: center;
            color: #4a4a4a;
            opacity: 0.8;
            z-index: 4;
            cursor: pointer;
            &:hover{
                .tooltip{
                    display: flex;
                }
            }
        }
    }
    &__title{
        margin-top: 50px;
        @include font-weight(light);
        font-size: 30px;
        letter-spacing: 0.9px;
        color: rgba(0, 0, 0, 0.6);
    }
    &__input{
        position: relative;
        &:focus{
            border: 1px solid $color-secondary;
            box-shadow: 0 0 8px 0 rgba(0, 152, 184, 0.6);
        }
        &-text{
            position: absolute;
            font-size: 15px;
            letter-spacing: 0;
            color: $color-black;
            @include font-weight(medium);
            left: 30px;
            right: 0;
            text-align: left;
            top: -40px;
            opacity: 0.8;
        }
        &.error{
            border: 1px solid $color-alert;
            box-shadow: 0 0 8px 0 rgba(176, 0, 32, 0.6);
        }
    }
    &__ingresa{
        text-align: center;
        &-text{
            margin: 0;
            font-size: 16px;
            letter-spacing: 0.3px;
            color: rgba(0, 0, 0, 0.6);
            @include font-weight(medium);
            margin-bottom: 15px;
        }
    }
    &__link{
        font-size: 16px;
        letter-spacing: 1.5px;
        @include font-weight(bold);
        text-transform: uppercase;
    }
    &__revisa-correo{
        &-text{
            color: $color-black;
            opacity: 0.8;
            font-size: 24px;
            margin-top: 125px;
        }
    }
    &__user{
        &-text{
            position: absolute;
            top: -90px;
            opacity: 0.8;
            font-size: 20px;
            @include font-weight(bold);
            letter-spacing: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 28px;
                margin-right: 10px;
                color: #4a4a4a;
            }
        }
    }
    .btn--default{
        min-width: 400px;
        min-height: 65px;
        max-height: 65px;
    }
    .alerta{
        margin-left: 30px;
    }
}