.meses{
    &-card{
        width: 170px;
        height: 169px;
        background: $color-main;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px 4px 0 0;
        .circle{
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 3;
            cursor: pointer;
        }

        &:hover{
            &::before{
                border-radius: 4px 4px 0 0;
                background :rgba(0, 0, 0, 0.84);
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                z-index: 3;
            }
            .circle{
                border: solid 2px rgba(255, 255, 255, 0.6);
            }
            .content-btn{
                display: flex;
            }
        }
        .content-btn{
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            display: none;
            .btn--bordered{
                &.ver-boleta{
                    border: solid 2px white;
                    border-radius: 4px;
                    min-height: 40px;
                    min-width: 140px;
                    width: 140px;
                    height: 40px;
                    max-height: 40px;
                    max-width: 140px;
                    color: white;
                }
            }
        }
        .content-checkbox{
            &:hover{
                .tooltip{
                    display: flex;
                }
            }
        }
    }
    &__items{
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        margin: -10px -15px;
    }
    &__item{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        margin: 10px 15px;
        .btn--bordered{
            border-radius: 0 0 4px 4px; 
            border: none;
            min-height: 47px;
        }

    }
    &-text{
        &--abreviado,
        &--completo{
            text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
            color: white;
        }
        &--abreviado{
            font-size: 60px;
            @include font-weight(bold);
            text-transform: uppercase;
        }
        &--completo{
            font-size: 23.6px;
            @include font-weight(bold);
            position: absolute;
            bottom: 4px;
            right: 0;
            left: 0;
            text-align: center;
        }
    }
    &__nuevo{
        position: absolute;
        width: 120px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #006675;
        color:white;
        font-size: 18px;
        @include font-weight(semibold);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        top: 12px;
        left: -15px;
        text-transform: uppercase;
    }
}