.tooltip{
    width: 140px;
    border-radius: 2px;
    height: 40px;
    background: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
    z-index: 99999;
    &__text{
        color: $color-black;
        @include font-weight(semibold);
        font-size: 20px;
        opacity: 0.8;
        
    }
    &--top{
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.7);
        top: -35px;
        right: -48px;
        bottom: 0;
        &::before{
            content: "";
            position: absolute;
            width: 0; 
            height: 0; 
            border-left: 10px  solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid white; 
            bottom: -15px;
        }
    }
    &--left{

    }
    &--right{
        left: 42px;
        top: 12px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: white;
            transform: rotate(45deg); /* Prefixes... */
            top: 10px;
            left: -10px;
            box-shadow: -3px 4px 10px -2px rgba(0, 0, 0, 0.5);
        }
    }
    &--bottom{
        
    }
}