<template>
    <div>
        {{currentPaso}}
        <paso1 v-show="currentPaso == 1"></paso1>
        <paso2 v-show="currentPaso == 2"></paso2>
        <paso3 v-show="currentPaso == 3"></paso3>
    </div>
</template>
<script>
    import Paso1 from './Paso1.vue';
    import Paso2 from './Paso2.vue';
    import Paso3 from './Paso3.vue';
    export default{
        data () {
            return {
            }
        },
        computed:{
            currentPaso() {
                return this.$store.getters.getPaso
            }
        },
        components: {
            Paso1,
            Paso2,
            Paso3
        },
        methods:{
        }
    }
</script>