<template>
    <div>
        <input type="text" name="txt_dni" />
        <button @click="incrementPaso()">SIGUIENTE2</button>
    </div>
</template>
<script>
    export default{
        data () {
            return {
            }
        },
        methods:{
            incrementPaso(){
                this.$store.commit('actualizapaso', this.$store.getters.getPaso + 1);
            }
        }
    }
</script>