<template>
    <div>
        <input type="text" name="txt_dni" />
        <button>FINALIZAR</button>
    </div>
</template>
<script>
    export default{
        data () {
            return {
            }
        },
        methods:{
        }
    }
</script>