@function font-weight($keyword) {
	$conversion-map: (
        light: 200,
        lighter: 200,
        ligth: 200,
        regular: 400,
        normal: 400,
        medium: 500,
        med: 500,
        semibold: 600,
        semi bold: 600,
        bold: 700
	);

	@if not map-has-key($conversion-map, $keyword) {
		@error "Unsupported `font-weight` keyword `#{$keyword}`";
        
        @return null;
	}
    
    @return map-get($conversion-map, $keyword);
}

@mixin font-weight($keyword) {
    font-weight: font-weight($keyword);
}