<template>
    <div>
        <input type="text" name="txt_dni" maxlength="8" v-validate="'required|numeric|digits:8'" 
        v-model="data.dni" v-on:keypress="limpiar()"/>
        <div v-show="errors.has('txt_dni') || errores">
            DNI no válido. Revísalo detenidamente.
        </div>
        <button @click="ValidaDNI()">SIGUIENTE</button>
    </div>
</template>
<script>
    export default{
        data () {
            return {
                data: this.$store.state.data,
                errores:false
            }
        },
        methods:{
            ValidaDNI(){
                if(this.data.dni!=""){
                    axios.post("login/valida_dni",{dni:this.data.dni}).then(response => {
                        this.$store.commit('actualizapaso', this.$store.getters.getPaso + 1);
                    }).catch(error=>{
                        console.log("error");
                    });
                }else{
                    this.errores=true;
                }
            },
            limpiar(){
                this.errores=false;
            }
        }
    }
</script>