@for $i from 0 through 150 {
   .separacion__row--#{$i*1} {
       margin: 0 ((-1px * $i)/ 2 );
   }
   .separacion__column--#{$i*1} {
       margin: 0 ( (1px * $i) / 2);
   }
}

@for $i from 0 through 70 {
   .separacion__bt--#{$i*1} {
       margin-top: (1px * $i) !important ;
       margin-bottom: (1px * $i)  !important ;
   }
}